.font-family {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.font-size {
    font-size: 30px;
}

.font-style {
    font-style: italic;
}

.font-weight {
    font-weight: bold;
}

.color-y-fondo {
    color: blue;
    background-color: red;
}

.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.align-justify {
    text-align: justify;
}

.box {
    height: 50px;
    width: 200px;

    padding: 10px;
    margin: 10px 8px 6px 4px;

    border: solid 5px black;

    background-color: orange;
    color: white;
}

.content-box {
    box-sizing: content-box;
}

.border-box {
    box-sizing: border-box;
}