* {
  font-family: "Press Start 2P", Impact, system-ui;
  font-weight: 400;
  font-style: normal;
}

main {
    background-color: deepskyblue!important;
}

.padre {
    color: aqua;
    font-weight: bold;
}

.hijo-especial {
    color: crimson;
}

.ultima {
    color: red;
}

.ultima {
    color: blue;
}

#element-id {
    background-color: coral;
}

.element-class {
    background-color:darkturquoise;
}

section {
    background-color: forestgreen;
}

.externo {
    background-color: cornflowerblue;
}

#not-important {
    background-color: darkslategrey;
}

.not-important {
    background-color: lightgreen;
}